<% provide(:title, "New lesson") %>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <p>
        <span><h3><%= @category.title %></h3></span>
      </p>
    </div>
  </div>
  <div class="row" id="lesson">
    <%= form_for [@category, @lesson] do |f| %>
      <%= f.fields_for :results do |builder| %>
        <%= render 'result', f: builder %>
      <% end %>
    <% end %>
  </div>
</div>
