<% @words.each do |word| %>
  <div class="col-md-4 col-md-offset-1">
    <div class="col-md-5">
      <%= word.content %>
    </div>
    <div class="col-md-5">
      <%= word.answers.correct.content %>
    </div>
  </div>
<% end %>
